.forgot_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
}

.title {
  display: flex;
  flex-direction: column;
}

.title p:first-child {
  font-size: 1.2em;
  font-weight: 600;
}

.title p:nth-child(2) {
  font-size: 0.8em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input_label {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.label {
  font-size: 0.8em !important;
}

.input {
  border-radius: 2em;
  height: 2.2em;
  padding: 0em 1em;
  font-size: 0.8em !important;
}

.input:focus {
  outline: none;
  border: none;
}

.btn_navbar {
  font-size: 0.8em !important;
  height: 2em;
}

.back {
  width: auto;
  text-align: center;
  margin: auto;
  font-size: 0.8em !important;
}

.back:hover {
  color: var(--color-text-third);
}

:is(.forgot_section,
  .title,
  .title p,
  .form,
  .inputs_container,
  .input_label,
  .label,
  .input,
  .btn_navbar,
  .back,
) {
  font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
}

/* =================== Media querys =================== */
@media (max-width: 480px) {
  .forgot_section {
    box-shadow: none;
    border-radius: 0em;
  }
}

@media (max-width: 768px) {

  :is(.forgot_section,
    .title,
    .title p,
    .form,
    .inputs_container,
    .input_label,
    .label,
    .input,
    .btn_navbar,
    .back,
  ) {
    font-size: clamp(1.2rem, 1.2vw + 0.7rem, 4rem);
  }
}