.btn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: ease 0.3s;
  border: 1px solid var(--color-btn-principal);
}

.light {
  background-color: white;
  color: var(--color-btn-principal);
  font-weight: bold;
}

.light:hover {
  color: white;
  background-color: var(--color-btn-principal);
  font-weight: lighter;
}

.dark {
  color: white;
  background-color: var(--color-btn-principal);
}

.dark:hover {
  background-color: white;
  color: var(--color-btn-principal);
  font-weight: bold;
}