.title_container {
  font-size: 2em;
}

.title_container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-title-principal);
}

.title_container h2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-title-secondary);
}

.recover {
  font-size: 1em;
  text-align: right;
}

.recover:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .mq_container {
    flex-direction: column !important;
  }

  .title_container {
    text-align: center;
  }
}