.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.logo_navbar {
  height: 3.7em; 
}

.navbar_content {
  gap: 1.5em;
  min-width: 10em;
}

.btn_navbar {
  color: white;
  width: 10em;
  height: 2em;
  font-size: 1.1em;
}

.menu_toggle {
  width: 50px;
  padding: 10px;
  height: 80%;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.menu_toggle:hover {
  background-color: #E4D4F4;
}

.menu_toggle:active {
  background-color: white;
}

.menu_container {
  padding: 3em 0em;
}

.container_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_text {
  font-size: 1.1em !important;
}

.text {
  font-size: 1.1em !important;
  font-weight: 500;
}

.menu_item {
  padding: 0.5em 0em;
  font-size: 1.8em !important;
  font-weight: 500;
  color: var(--color-text-secondary);
  transition: background-color 0.3s ease-in-out;
}

:is(.navbar_container, .logo_navbar, .text, .navbar_content, .btn_navbar) {
  font-size: clamp(0.8rem, 0.8vw + 0.8rem, 7rem);
}