.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.container_logo {
  height: 100%;
  min-height: 2.5em;
}

.link_logo {
  height: 100%;
}

.logo_navbar {
  height: -webkit-fill-available;
}

.container_btn_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 100%;
}

.navbar_content {
  gap: 3em;
  min-width: 10em;
}

.icon_profile {
  width: 1.6em;
  fill: var(--color-purple-900);
}

.icon_cart {
  margin-left: 0.5em;
  width: 1.5em;
  fill: var(--color-purple-900);
}

.badge_cart {
  background-color: var(--color-purple-500);
  color: var(--color-text-primary);
  border: none;
  width: 0.8em;
  height: 0.8em;
  font-size: 0.6em !important;
}

.btn_navbar {
  color: var(--color-text-secondary);
  height: 2.2em;
  font-size: 0.8em !important;
}

.menu_toggle {
  width: 50px;
  padding: 10px;
  height: 80%;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.menu_toggle:hover {
  background-color: #E4D4F4;
}

.menu_toggle:active {
  background-color: white;
}

.menu_container {
  padding: 3em 0em;
}

.container_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_text {
  font-size: 1rem;
}

.text {
  font-weight: 500;
  font-size: 0.8em !important;
}

.menu_item {
  padding: 0.5em 0em;
  font-size: 1.8em !important;
  font-weight: 500;
  color: var(--color-text-secondary);
  transition: background-color 0.3s ease-in-out;
}

:is(.navbar_container,
  .container_logo,
  .link_logo,
  .logo_navbar,
  .icon_cart,
  .badge_cart,
  .container_btn_navbar,
  .text,
  .navbar_content,
  .btn_navbar,
  .container_text,
  .text,
) {
  font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
}

@media (max-width: 768px) {
  .navbar_container {
    height: 100%;
  }
}