.tyc_section {
  padding: 3em 2em;
  line-height: 1.6;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
}

.header {
  margin-bottom: 2em;
}

.title {
  font-size: 2em !important;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0.2em;
}

.date {
  font-size: 0.9em !important;
  text-align: center;
  color: var(--color-text-third);
}

.content {
  max-width: 40em;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.paragraph {
  font-size: 1em !important;
  margin-bottom: 1em;
}

.link {
  color: #007bff;
  font-weight: 500;
}

.link:hover {
  color: #0056b3;
  text-decoration: none;
}

:is(.tyc_section,
  .container,
  .header,
  .title,
  .date,
  .content,
  .subtitle,
  .paragraph,
  .link,
) {
  font-size: clamp(1rem, 1vw + 0.5rem, 7rem);
}

@media (max-width: 768px) {

  :is(.tyc_section,
    .container,
    .header,
    .title,
    .date,
    .content,
    .subtitle,
    .paragraph,
    .link,
  ) {
    font-size: clamp(1.2rem, 1.2vw + 0.7rem, 7rem);
  }
}