.title_container {
  font-size: 2em;
}

.title_container h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.title_container h2 {
  font-size: 1.7rem;
  font-weight: 400;
}

.tyc {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 6px;

  & label {
    font-size: 14px;
    cursor: pointer;
  }

  & input {
    cursor: pointer;
  }
}

.tyc:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .mq_container {
    flex-direction: column !important;
  }

  .title_container {
    text-align: center;
  }
}